<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('email') }}
    {% endblock %}
</head>
<body style="background-color: #f4f4f4; margin: 0 !important; padding: 0 !important;">
{% block body %}


{% endblock %}
</body>
</html>